#container {
	width: auto;
	padding: 0.5em 1em 1em 1em;
	margin: 0;
}
h1 {
	font-size: 1.2em;
}
#image-container {
	width: auto;
	height: auto;
	background-color: #000;
}
img.image {
	width: auto;
	height: auto;
	max-width: 100%;
}
.loading {
	padding: 0;
	position: relative;
	left: 50%;
	margin-left: -16px;
}
#text p {
	width: auto;
}
#items li,
#inventory li {
	width: auto;
	padding: 0.2em 0 0.2em 18px;
}
#items li span,
#inventory li span {
	margin-right: 0;
	visibility: visible;
	float: right;
}

#menu {
	position: relative;
	bottom: 0;
	width: auto;
	height: 30px;
	padding: 4px 0;
	background-image: none;
	background-color: #000;
	border-style: none;
}
#info-button {
	display: none;
}
